In [7]:
import pandas as pd
import pandas_gbq as gbq

In [8]:
sql = "select count(*) from `bigdatita-328400.taxis.trips`"

In [9]:
df = gbq.read_gbq(project_id='bigdatita-328400',query=sql)

Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.05rows/s]

In [10]:
df

       f0_
0  1705805